body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-image: url(https://imgs.search.brave.com/QOGU3AIfHQ_D-KggyFcuiIWxba17nInMG9bUv-_laJc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvaGFqaW1lLW5v/LWlwcG8tbHhkYjhq/aHlyM2U2NDZkeS5q/cGc);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

header {
    background-color: #ad0d0d;
    color: white;
    text-align: center;
    padding: 20px;
}

.caja {
    background-color: rgba(255, 255, 255, 0.92);
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 20px;
}

.caja img {
    width: 180px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 10px auto 20px auto;
    transition: 0.3s;
}

.caja img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.indez {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #ad0d0d;
}

.indez a {
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #ad0d0d;
    font-weight: bold;
    margin: 10px;
    transition: 0.3s;
}

.horario {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

.horario td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}